@import "../style/mixins";
@mixin ssv-select-variant($options: ()) {
	$color: map-get($options, color);
	$color-contrast: map-get($options, color-contrast);
	$item-color-hover: rgba($color, .6) !default;
	$list-background-color: rgba($color, .2) !default;
	$clear-color-hover: rgba($color, .6) !default;

	.ssv-select {
		color: $color-contrast;
		@include element("placeholder") {
			color: $color;
		}
		@include element("input-underline") {
			background-color: $color;
			@include modifier("active") {
				background-color: $color;
			}
		}
		@include element("clear") {
			color: $color;

			&:hover {
				color: $clear-color-hover;
			}
		}
		@include element("arrow") {
			color: $color;
		}
		@include element("list") {
			background-color: $list-background-color;
		}
		@include element("item") {
			&:hover {
				background-color: $item-color-hover;
				color: $color-contrast;
			}
			@include modifier("selected") {
				background-color: $color;
				color: $color-contrast;

				&:hover {
					background-color: $color;
				}
			}
		}
	}
}
