@import "../style/vars";

// primary
$ssv-select-primary-variant: () !default;
$ssv-select-primary-variant-defaults: (
	color: $ssv-primary-color,
	color-contrast: $ssv-primary-color-contrast,
	bg-list: $ssv-color-white
);
$ssv-select-primary-variant: map-merge($ssv-select-primary-variant-defaults, $ssv-select-primary-variant);

// accent
$ssv-select-accent-variant: () !default;
$ssv-select-accent-variant-defaults: (
	color: $ssv-accent-color,
	color-contrast: $ssv-accent-color-contrast,
	bg-list: $ssv-color-white
);
$ssv-select-accent-variant: map-merge($ssv-select-accent-variant-defaults, $ssv-select-accent-variant);

// danger
$ssv-select-danger-variant: () !default;
$ssv-select-danger-variant-defaults: (
	color: $ssv-danger-color,
	color-contrast: $ssv-danger-color-contrast,
	bg-list: $ssv-color-white
);
$ssv-select-danger-variant: map-merge($ssv-select-danger-variant-defaults, $ssv-select-danger-variant);

// warn
$ssv-select-warn-variant: () !default;
$ssv-select-warn-variant-defaults: (
	color: $ssv-warn-color,
	color-contrast: $ssv-warn-color-contrast,
	bg-list: $ssv-color-white
);
$ssv-select-warn-variant: map-merge($ssv-select-warn-variant-defaults, $ssv-select-warn-variant);

// success
$ssv-select-success-variant: () !default;
$ssv-select-success-variant-defaults: (
	color: $ssv-success-color,
	color-contrast: $ssv-success-color-contrast,
	bg-list: $ssv-color-white
);
$ssv-select-success-variant: map-merge($ssv-select-success-variant-defaults, $ssv-select-success-variant);

// info
$ssv-select-info-variant: () !default;
$ssv-select-info-variant-defaults: (
	color: $ssv-info-color,
	color-contrast: $ssv-info-color-contrast,
	bg-list: $ssv-color-white
);
$ssv-select-info-variant: map-merge($ssv-select-info-variant-defaults, $ssv-select-info-variant);