@import "../style/vars";
@import "../style/mixins";
@import "./select.variant";
@import "./select.mixin";

$ssv-select-default-color: $ssv-secondary-color !default;
$ssv-select-default-color-contrast: $ssv-color-black !default;
$ssv-select-default-item-selected-color-contrast: $ssv-color-white !default;
$ssv-select-default-item-color-hover: rgba($ssv-color-black, .1) !default;
$ssv-select-default-list-background-color: $ssv-color-white !default;
$ssv-select-default-clear-color-hover: rgba($ssv-color-black, .6) !default;

$ssv-select-disabled-primary-color: rgba($ssv-color-black, .12) !default;
$ssv-select-disabled-secondary-color: rgba($ssv-color-black, .26) !default;

$ssv-select-input-box-padding: 0.5em 0.5em !default;

.ssv-select {
	display: block;
	position: relative;
	color: $ssv-select-default-color-contrast;
	min-width: 300px;
	margin-top: 1rem;
	@include element("placeholder") {
		position: absolute;
		top: 10;
		left: 5;
		font-size: 1rem;
		transition: .2s ease-out;
		@include modifier("active") {
			color: $ssv-select-default-color;
			font-size: .8rem;
			transform: translateY(-140%);
		}
	}
	@include element("label") {
		transition: all .3s;

		@include modifier("multi") {
			padding: 3px;
			margin-right: 3px;
			font-size: 11px;
			background-color: $ssv-select-default-color;
			border-radius: 3px;

			.ssv-select__clear {
				padding-right: 0;
				padding-left: 2px;
			}
		}
	}
	@include element("input-box") {
		display: flex;
		cursor: pointer;
		height: 1rem;
		padding: $ssv-select-input-box-padding;

		.ssv-select_text-container {
			flex: 1;
		}

		.ssv-select__icon-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}
	}
	@include element("input-underline") {
		width: 100%;
		height: 1px;
		background-color: $ssv-select-default-color;
		@include modifier("active") {
			background-color: $ssv-select-default-color;
			transition: width 250ms ease-out;
			width: 100%;
			height: 2px;
			margin: 0 auto;
		}
	}
	@include element("clear") {
		padding-right: 5px;
		color: $ssv-select-default-color-contrast;

		&:hover {
			color: $ssv-select-default-clear-color-hover;
		}
	}
	@include element("arrow") {
		color: $ssv-select-default-color-contrast;
	}
	@include element("list-container") {
		@include shadow-4dp();
	}
	@include element("input-filter") {
		display: block;
		box-sizing: border-box;
		width: 100%;
		border: 0;
		outline: none;
		height: 1rem;
		padding: 1.5em 0.5em;
	}
	@include element("list") {
		cursor: pointer;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: $ssv-select-default-list-background-color;
	}
	@include element("item") {
		padding: $ssv-select-input-box-padding;

		@include modifier("group-item") {
			padding-left: 1em;
		}

		@include modifier("focused") {
			background-color: $ssv-select-default-item-color-hover;
			color: $ssv-select-default-color-contrast;
		}

		&:hover {
			background-color: $ssv-select-default-item-color-hover;
			color: $ssv-select-default-color-contrast;
		}
		@include modifier("selected") {
			background-color: $ssv-select-default-color;
			color: $ssv-select-default-item-selected-color-contrast;

			&:hover {
				background-color: $ssv-select-default-color;
				color: $ssv-select-default-item-selected-color-contrast;
			}
		}
	}
	@include element("group-header") {
		cursor: default;
		font-weight: 600;
		text-transform: capitalize;
		padding: 0 0.5em;
	}
	@include element("no-options-available") {
		cursor: default;
		padding: $ssv-select-input-box-padding;
	}

	&[disabled] {
		cursor: default;

		.ssv-select__label,
		.ssv-select__arrow,
		.ssv-select__input-box,
		.ssv-select__placeholder--active {
			cursor: default;
			color: $ssv-select-disabled-secondary-color;
		}

		.ssv-select__input-underline,
		.ssv-select__label--multi{
			background-color: $ssv-select-disabled-primary-color;
		}
	}

	// variants
	@include modifier("primary") {
		 @include ssv-select-variant($ssv-select-primary-variant);
	}
	@include modifier("accent") {
		 @include ssv-select-variant($ssv-select-accent-variant);
	}
	@include modifier("success") {
		 @include ssv-select-variant($ssv-select-success-variant);
	}
	@include modifier("danger") {
		 @include ssv-select-variant($ssv-select-danger-variant);
	}
	@include modifier("warn") {
		 @include ssv-select-variant($ssv-select-warn-variant);
	}
	@include modifier("info") {
		 @include ssv-select-variant($ssv-select-info-variant);
	}
}
