@import "../style/vars";
@import "../style/mixins";
@import "../style/variant";
@import "./chip.mixin";
$ssv-chip-default-color: rgba($ssv-color-grey-500, 0.2) !default;
$ssv-chip-default-color-contrast: $ssv-color-black !default;
$ssv-chip-default-clear-color-hover: rgba($ssv-color-black, 0.6) !default;

.ssv-chips {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	@include element("item") {
		display: flex;
		justify-content: flex-start;
		// min-width: 200px;
		color: $ssv-chip-default-color-contrast;
		background-color: $ssv-chip-default-color;
		font-size: 0.7rem;
		margin-right: 5px;
		margin-bottom: 5px;
		line-height: 32px;
		border-radius: 4px;

		.ssv-chips__item-image {
			color: $ssv-chip-default-color;
			border-radius: 4px 0 0 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;

			img {
				width: 32px;
				height: 32px;
				border-radius: 4px 0 0 4px;
			}
		}

		.ssv-chips__item-image--static,
		.ssv-chips__item-image--static .ssv-icon {
			background-color: $ssv-chip-default-color-contrast;
			color: $ssv-color-white;
		}

		.ssv-chips__item-text {
			flex: 2 0 auto;
			padding-left: 6px;
		}

		.ssv-chips__item-remove-container {
			padding: 0 6px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	@include element("remove-item") {
		color: $ssv-chip-default-color-contrast;

		&:hover {
			cursor: pointer;
			color: $ssv-chip-default-clear-color-hover;
		}
	}

	// types
	@include modifier("rounded") {
		.ssv-chips__item-image,
		.ssv-chips__item-image img {
			border-radius: 100%;
		}

		.ssv-chips__item {
			border-radius: 25px;
		}
	}

	// variants
	@include modifier("primary") {
		@include ssv-chip-variant($ssv-primary-variant);
	}
	@include modifier("accent") {
		@include ssv-chip-variant($ssv-accent-variant);
	}
	@include modifier("success") {
		@include ssv-chip-variant($ssv-success-variant);
	}
	@include modifier("danger") {
		@include ssv-chip-variant($ssv-danger-variant);
	}
	@include modifier("warn") {
		@include ssv-chip-variant($ssv-warn-variant);
	}
	@include modifier("info") {
		@include ssv-chip-variant($ssv-info-variant);
	}
}