@import "../style/vars";
@import "../style/mixins";
@import "../style/variant";
@import "./chip.mixin";
$ssv-chip-default-color: rgba($ssv-color-grey-500, 0.2) !default;
$ssv-chip-default-color-contrast: $ssv-color-black !default;
$ssv-chip-default-clear-color-hover: rgba($ssv-color-black, 0.6) !default;

.ssv-chip {
	display: inline-block;
	color: $ssv-chip-default-color-contrast;
	background-color: $ssv-chip-default-color;
	font-size: 0.7rem;
	padding: 0 12px;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 32px;

	@include element("remove") {
		line-height: 1;
		padding-right: 0;
		padding-left: 0.2em;
		color: $ssv-chip-default-color-contrast;
		vertical-align: middle;

		&:hover {
			cursor: pointer;
			color: $ssv-chip-default-clear-color-hover;
		}

		&.ssv-icon--small {
			font-size: 1.6em;
		}
	}

	// types
	@include modifier("rounded") {
		border-radius: 25px;
	}

	// variants
	@include modifier("primary") {
		@include ssv-chip-variant($ssv-primary-variant);
	}
	@include modifier("accent") {
		@include ssv-chip-variant($ssv-accent-variant);
	}
	@include modifier("success") {
		@include ssv-chip-variant($ssv-success-variant);
	}
	@include modifier("danger") {
		@include ssv-chip-variant($ssv-danger-variant);
	}
	@include modifier("warn") {
		@include ssv-chip-variant($ssv-warn-variant);
	}
	@include modifier("info") {
		@include ssv-chip-variant($ssv-info-variant);
	}
}