@import "../style/vars";

// primary
$ssv-checkbox-primary-variant: () !default;
$ssv-checkbox-primary-variant-defaults: (
	color: $ssv-primary-color,
	color-contrast: $ssv-primary-color-contrast
);
$ssv-checkbox-primary-variant: map-merge($ssv-checkbox-primary-variant-defaults, $ssv-checkbox-primary-variant);

// accent
$ssv-checkbox-accent-variant: () !default;
$ssv-checkbox-accent-variant-defaults: (
	color: $ssv-accent-color,
	color-contrast: $ssv-accent-color-contrast
);
$ssv-checkbox-accent-variant: map-merge($ssv-checkbox-accent-variant-defaults, $ssv-checkbox-accent-variant);

// danger
$ssv-checkbox-danger-variant: () !default;
$ssv-checkbox-danger-variant-defaults: (
	color: $ssv-danger-color,
	color-contrast: $ssv-danger-color-contrast
);
$ssv-checkbox-danger-variant: map-merge($ssv-checkbox-danger-variant-defaults, $ssv-checkbox-danger-variant);

// warn
$ssv-checkbox-warn-variant: () !default;
$ssv-checkbox-warn-variant-defaults: (
	color: $ssv-warn-color,
	color-contrast: $ssv-warn-color-contrast
);
$ssv-checkbox-warn-variant: map-merge($ssv-checkbox-warn-variant-defaults, $ssv-checkbox-warn-variant);

// success
$ssv-checkbox-success-variant: () !default;
$ssv-checkbox-success-variant-defaults: (
	color: $ssv-success-color,
	color-contrast: $ssv-success-color-contrast
);
$ssv-checkbox-success-variant: map-merge($ssv-checkbox-success-variant-defaults, $ssv-checkbox-success-variant);