@import "../style/mixins";

@mixin ssv-chips-variant($options: ()) {
	$background-color: map-get($options, color);
	$color: map-get($options, color-contrast);

	.ssv-chips__item-image--static,
	.ssv-chips__item-image--static .ssv-icon {
		background-color: $background-color;
		color: $color;
	}
}