@import "../style/vars";

// primary
$ssv-icon-primary-variant: () !default;
$ssv-icon-primary-variant-defaults: (
	color: $ssv-primary-color
);
$ssv-icon-primary-variant: map-merge($ssv-icon-primary-variant-defaults, $ssv-icon-primary-variant);

// accent
$ssv-icon-accent-variant: () !default;
$ssv-icon-accent-variant-defaults: (
	color: $ssv-accent-color
);
$ssv-icon-accent-variant: map-merge($ssv-icon-accent-variant-defaults, $ssv-icon-accent-variant);

// danger
$ssv-icon-danger-variant: () !default;
$ssv-icon-danger-variant-defaults: (
	color: $ssv-danger-color
);
$ssv-icon-danger-variant: map-merge($ssv-icon-danger-variant-defaults, $ssv-icon-danger-variant);

// warn
$ssv-icon-warn-variant: () !default;
$ssv-icon-warn-variant-defaults: (
	color: $ssv-warn-color
);
$ssv-icon-warn-variant: map-merge($ssv-icon-warn-variant-defaults, $ssv-icon-warn-variant);

// success
$ssv-icon-success-variant: () !default;
$ssv-icon-success-variant-defaults: (
	color: $ssv-success-color
);
$ssv-icon-success-variant: map-merge($ssv-icon-success-variant-defaults, $ssv-icon-success-variant);

// info
$ssv-icon-info-variant: () !default;
$ssv-icon-info-variant-defaults: (
	color: $ssv-info-color
);
$ssv-icon-info-variant: map-merge($ssv-icon-info-variant-defaults, $ssv-icon-info-variant);