$prefix: ssv;

// typography
$ssv-body-font-size-base: 14px !default;
$ssv-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

// colors
$ssv-master-color: #626262 !default;
$ssv-primary-color: #5A022B !default;
$ssv-primary-dark-color: darken($ssv-primary-color, 0.1) !default;
$ssv-secondary-color: #025117 !default;

$ssv-accent-color: #10cfbd !default;

$ssv-error-color: #D24255 !default;
$ssv-success-color: #339333 !default;
$ssv-warn-color: #fff67a !default;
$ssv-info-color: #1A9BFC !default;
$ssv-disabled-color: #BDBDBD !default;