$prefix: ssv;

// typography
$ssv-body-font-size-base: 14px !default;
$ssv-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

// colors
$ssv-primary-color: pink !default;
$ssv-secondary-color: blue !default;

$ssv-error-color: red !default;
$ssv-success-color: green !default;
$ssv-warn-color: yellow !default;
