@import "../style/vars";

// primary
$ssv-input-primary-variant: () !default;
$ssv-input-primary-variant-defaults: (
	color: $ssv-primary-color
);
$ssv-input-primary-variant: map-merge($ssv-input-primary-variant-defaults, $ssv-input-primary-variant);

// accent
$ssv-input-accent-variant: () !default;
$ssv-input-accent-variant-defaults: (
	color: $ssv-accent-color
);
$ssv-input-accent-variant: map-merge($ssv-input-accent-variant-defaults, $ssv-input-accent-variant);

// danger
$ssv-input-danger-variant: () !default;
$ssv-input-danger-variant-defaults: (
	color: $ssv-danger-color
);
$ssv-input-danger-variant: map-merge($ssv-input-danger-variant-defaults, $ssv-input-danger-variant);

// warn
$ssv-input-warn-variant: () !default;
$ssv-input-warn-variant-defaults: (
	color: $ssv-warn-color
);
$ssv-input-warn-variant: map-merge($ssv-input-warn-variant-defaults, $ssv-input-warn-variant);

// success
$ssv-input-success-variant: () !default;
$ssv-input-success-variant-defaults: (
	color: $ssv-success-color
);
$ssv-input-success-variant: map-merge($ssv-input-success-variant-defaults, $ssv-input-success-variant);