@import "../style/vars";

// primary
$ssv-badge-primary-variant: () !default;
$ssv-badge-primary-variant-defaults: (
	color: $ssv-primary-color,
	color-contrast: $ssv-primary-color-contrast
);
$ssv-badge-primary-variant: map-merge($ssv-badge-primary-variant-defaults, $ssv-badge-primary-variant);

// accent
$ssv-badge-accent-variant: () !default;
$ssv-badge-accent-variant-defaults: (
	color: $ssv-accent-color,
	color-contrast: $ssv-accent-color-contrast
);
$ssv-badge-accent-variant: map-merge($ssv-badge-accent-variant-defaults, $ssv-badge-accent-variant);

// danger
$ssv-badge-danger-variant: () !default;
$ssv-badge-danger-variant-defaults: (
	color: $ssv-danger-color,
	color-contrast: $ssv-danger-color-contrast
);
$ssv-badge-danger-variant: map-merge($ssv-badge-danger-variant-defaults, $ssv-badge-danger-variant);

// warn
$ssv-badge-warn-variant: () !default;
$ssv-badge-warn-variant-defaults: (
	color: $ssv-warn-color,
	color-contrast: $ssv-warn-color-contrast
);
$ssv-badge-warn-variant: map-merge($ssv-badge-warn-variant-defaults, $ssv-badge-warn-variant);

// success
$ssv-badge-success-variant: () !default;
$ssv-badge-success-variant-defaults: (
	color: $ssv-success-color,
	color-contrast: $ssv-success-color-contrast
);
$ssv-badge-success-variant: map-merge($ssv-badge-success-variant-defaults, $ssv-badge-success-variant);

// info
$ssv-badge-info-variant: () !default;
$ssv-badge-info-variant-defaults: (
	color: $ssv-info-color,
	color-contrast: $ssv-info-color-contrast
);
$ssv-badge-info-variant: map-merge($ssv-badge-info-variant-defaults, $ssv-badge-info-variant);